<% provide(:title, 'Home') %>
<div class="container grey">
	<p class="about">The Maryland Entrepreneurs Resource List is a collection of tested executives and industry experts who are willing to mentor or provide leadership to early stage companies.</p>
</div>

<div class="container">
	<div class="steps">
		<div class="icon-container"><i class="ion-search"></i></div>
		<div class="text-container">
			<h1>Find a mentor</h1>
			<p>Filter on a number of different attriburtes, including industry, areas of expertise, and past accomplishments.</p>
		</div>
	</div>

	<div class="steps">
		<div class="icon-container"><i class="ion-email"></i></div>
		<div class="text-container">
			<h1>Send them a note</h1>
			<p>Reach out to the mentor of your dreams directly on the website explaining why they’re the perfect fit.</p>
		</div>
	</div>

	<div class="steps">
		<div class="icon-container"><i class="ion-merge"></i></div>
		<div class="text-container">
			<h1>Connect offline</h1>
			<p>Take your connection offline and into the real world. The sky is the limit for what can be accomplished.</p>
		</div>
	</div>
</div>

<div class="container splash-content splash-handshake">
	<h1>Ready to join?<br/>Singup via linkedin</h1>
	<%= link_to "Entrepreneur", user_omniauth_authorize_path(:linkedin, user_type: 0), class: "button white-button" %>
	<span>or</span>
	<%= link_to "Mentor", user_omniauth_authorize_path(:linkedin, user_type: 1), class: "button white-button" %>
</div>