::-webkit-input-placeholder { font-weight: $font-weight-light; }
::-moz-placeholder { font-weight: $font-weight-light; } /* firefox 19+ */
:-ms-input-placeholder { font-weight: $font-weight-light; } /* ie */
input:-moz-placeholder { font-weight: $font-weight-light; }

input {
 font-family: $font-family-sans-serif;
}

textarea:focus {
  background: inherit;
  border: 1px solid #cccccc;
  outline: none;
}

.chosen-container-multi{
 box-shadow: 0;
 font-weight: $font-weight-light;

  .chosen-choices {
   box-shadow: 0;
   background: none;
   background-size: 0% !important;
   border: 1px solid #cccccc !important;
   box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
   min-height: 125px;
   font-size: rem-calc(18);
   font-weight: $font-weight-light;

    li {
    background: none;
    background-size: none;
     &.search-field {
       input[type="text"] {
         // margin: 1px 0;
         // padding: 0;
         // height: 25px;
         // outline: 0;
         // border: 0 !important;
         // background: transparent !important;
         // box-shadow: none;
         // color: #999;
         // font-size: 100%;
         // font-family: sans-serif;
         // line-height: normal;
         // border-radius: 0;
       }
     }
     &.search-choice {
       background-image: none;
       background-size: 0;
       line-height: rem-calc(23) !important;
       color: $medium-grey !important;
       box-shadow: none !important;
       background-image: none !important;
       background-size: 0 !important;
       background-color: #fafafa !important;
       border-radius: 0 !important;
       span {
         word-wrap: break-word;
       }
       .search-choice-close {
         // position: absolute;
         // top: 4px;
         // right: 3px;
         // display: block;
         // width: 12px;
         // height: 12px;
         color: $lightest-grey !important;
         background: none;
         // font-size: 1px;
         &:hover {
           // background-position: -42px -10px;
         }
       }
     }
     &.search-choice-disabled {
       // padding-right: 5px;
       // border: 1px solid #ccc;
       // background-color: #e4e4e4;
       background-image: none;
       // color: #666;
     }
     &.search-choice-focus {
       // background: #d4d4d4;
       .search-choice-close {
         // background-position: -42px -10px;
       }
     }
   }
  }
  .chosen-results {
    font-size: rem-calc(18) !important;
    line-height: rem-calc(23) !important;
    // padding: 0;
    li.highlighted {
      background: 0 !important;
      background-image: none !important;
      background-size: 0 !important;
      color: $dark-grey !important;
      background-color: $lightest-grey !important;
    }
  }
  .chosen-drop .result-selected {
    // display: list-item;
    // color: #ccc;
    // cursor: default;
  }
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  font-family: $font-family-sans-serif !important;
  font-weight: $font-weight-light !important;
  color: $light-grey;
}

.chosen-container {
  font-size: rem-calc(18) !important;
  line-height: rem-calc(23) !important;
}

.chosen-container-single .chosen-default {
  background: none !important;
}

.chosen-container .chosen-results li.highlighted {
  background-color: $lightest-grey !important;
  background-image: none !important;
  color: $dark-grey !important;
}

.chosen-container-active .chosen-single {
  border: 1px solid #cccccc !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);  
}

.chosen-container-single .chosen-single {
  background: none !important;
}


.chosen-container-single .chosen-single li.search-field input[type="text"] {
  font-family: $font-family-sans-serif !important;
  font-weight: $font-weight-light !important;
  color: $light-grey;
}