section.main-section.grey {
 background-color: $lightest-grey;
}

@mixin translate {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

