section.main-section.grey {
 background-color: $lightest-grey;
}

::-webkit-input-placeholder { font-weight: $font-weight-light; }
::-moz-placeholder { font-weight: $font-weight-light; } /* firefox 19+ */
:-ms-input-placeholder { font-weight: $font-weight-light; } /* ie */
input:-moz-placeholder { font-weight: $font-weight-light; }

input {
 font-family: $font-family-sans-serif;
}

textarea:focus {
  background: inherit;
  border: 1px solid #cccccc;
  outline: none;
}

@mixin translate {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

