// Top bar

section.left-small, section.right-small {
 text-align: center;
 width: 180px;
 font-family: $font-family-menus;
 a {
  color: $white;
 }
 i {
  text-align: center;
  font-size: rem-calc(40);
  vertical-align: middle;
 }
 span {
  text-transform: uppercase;
  font-size: rem-calc(18);
 }
}

section.right-small {
 span {
  padding-right: rem-calc(20); 
 }
}

section.left-small {
 span {
  padding-left: rem-calc(20); 
 }
}

nav.white {
 background-color: $white;
 @include card(1);

 section.left-small, section.right-small {
  a {
   color: $light-grey;
  }
 }
}

// Offcanvas (side) bar

aside.left-off-canvas-menu {
@include card(1);
 font-family: $font-family-menus;
 font-weight: $font-weight-bold;
 text-transform: uppercase;
 background-color: $medium-grey;
 li {
  height: rem-calc(75);
  margin-top: rem-calc(15);
  transition: all 0.25s ease;
  a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0
  }
  span {
   font-size: rem-calc(18);
   line-height: rem-calc(75);
  }
  i {
   text-align: center;
   display: inline-block;
   min-width: rem-calc(70);
   font-size: rem-calc(35);
   margin: 0 rem-calc(20);
   line-height: rem-calc(75);
   height: rem-calc(75);
   float: left;
  }
 }
}

aside.left-off-canvas-menu {

  li.active, li:hover {
    background-color: $dark-grey;

    a, i, span {
      color: $white;
    }
  }

  li.profile {
    background-color: $red;
    padding: 0;
    height: rem-calc(90);
    margin-top: 0;

    img {
      height: 75px;
      width: 75px;
      border-radius: 50%;
      float: left;
      border: 5px solid $white; 
      margin: rem-calc(7.5) rem-calc(20);
    }

    span {
      line-height: rem-calc(90);
      color: $white;
      float: left;
    }
  }
}