/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require toastr
 *= require chosen
 */

@import "colors";
@import "fonts";
@import "icons";
@import "foundation_and_overrides";


@import "general";
@import "navigation";
@import "home";

div.profile-container {
 @media #{$medium-up} {
  @include grid-column(
   $columns: 11,
   $center: true
   )
 }
 padding-top: rem-calc(40);
}