/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require chosen
 */

@import "toaster";
@import "colors";
@import "fonts";
@import "icons";
@import "foundation_and_overrides";


@import "general";
@import "navigation";
@import "home";
@import "forms";
@import "profile_and_signup";

div.users-container {
  max-width: 95% !important;
  margin: auto;
  @include grid-row;
}

div.card-container {
  @media #{$large-up} {
    @include grid-column(
        $columns: 4
      );
    &:nth-child(1) {
      div.card {
        margin-right: rem-calc(25);
      }
    }
    &:nth-child(2) {
      div.card {
        margin: 0 rem-calc(15);
      }
    }
    &:nth-child(3) {
      div.card {
        margin-left: rem-calc(25);
      }
    }
  }
}

div.users-container {
  margin-top: rem-calc(20);
  div.card {
    @include card(1);
    background-color: $white;
  }
}

div.card {
  div.user-type-container {
    background-color: $red;
    height: rem-calc(87.5);
    padding: rem-calc(25) rem-calc(25) 0 0;

    div.user-type-icon {
      margin-top: 0;
    }
  }

  div.name-container {
    @include grid-column(
      $columns: 8
    );
    padding: rem-calc(10) rem-calc(25) rem-calc(10) 0;
    h1 {
      font-size: rem-calc(24); 
    }

    h4 {
      font-size: rem-calc(16);
    }
  }

  div.avatar-container {
    height: rem-calc(62.5);
    @include grid-column(
      $columns: 4
    );
    img.avatar {
      height: 125px;
      width: 125px;
      border-width: 9px;
    }
  }

  div.attribute-row {
    @include grid-row;
    @include card(1);
    width: 100%;
    background-color: $white;
    margin-top: rem-calc(1);
    padding: rem-calc(15) rem-calc(10);
    color: $dark-grey;

    div.purpose-container {
      @extend .text-center;
      position: relative;
      min-height: 75px;

      p.purpose {
        @include translate;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
        font-family: $font-family-sans-serif;
        text-transform: none;
        font-size: rem-calc(20);
        color: $medium-grey;
      }
    }

    div.attribute-description-container {
      @include grid-column(
        $columns: 4
      );
      @extend .text-center;
      color: $light-grey;
      position: relative;
      min-height: 100px;

      div.attribute-description {
        @include translate;
        top: 50%;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      i {
        font-size: rem-calc(55);  
        line-height: rem-calc(65);
      }
      h5 {
        font-size: rem-calc(13);
        font-family: $font-family-menus;
        text-transform: uppercase;
        color: $light-grey;
        margin: 0;
      }
    }

    div.attributes-container {
      @include grid-column(
        $columns: 8
      );
      min-height: 100px;
      position: relative;

      div.attributes {
        @include translate;
        font-size: rem-calc(15);
        top: 50%;
        width: 100%;
        padding-left: rem-calc(15);
        color: $medium-grey;
      }
    }
  }
}