/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require toastr
 *= require chosen
 */

@import "colors";
@import "fonts";
@import "icons";
@import "foundation_and_overrides";


@import "general";
@import "navigation";
@import "home";

div.profile-container {
 @media #{$medium-up} {
  @include grid-column(
   $columns: 10,
   $center: true
   )
 }
 background-color: $red;
 margin-top: rem-calc(40);
 border-radius: rem-calc(10);

 div.container {
  background-color: $white;
 }
}

div.user-type-container {
 height: 125px;
 margin:  rem-calc(50) rem-calc(50) 0 0;
 @extend .text-right;
 clear: both;
}

div.user-type-icon {
 width: 50px;
 height: 50px;
 border-radius: rem-calc(5);
 border: 1px solid $white;
 color: $white;
 font-weight: $font-weight-medium;
 font-size: rem-calc(30);
 @extend .text-center;
 line-height: 50px;
 margin: rem-calc(20) 0 rem-calc(20) auto;
}

span.user-type {
 color: $white;
 font-size: rem-calc(18);
}

div.headline-container {
 background-color: $white;
 div {
  background-color: $white;
 }
}

div.avatar-container {
 position: relative;
 @include grid-column(
   $columns: 3
   );
 height: 150px;
}

img.avatar {
 @include translate;
 z-index: 1;
 top: 0;
 border-radius: 50%;
 border: 15px solid $white;
 height: 250px;
 width: 250px;
 overflow: hidden;
 margin: 0 rem-calc(50);
 clear: none;
}

div.name-container {
 @include grid-column(
   $columns: 9
  );
 padding: rem-calc(20) rem-calc(50) 0 0;
 @extend .text-right;

 h1 { 
  font-weight: $font-weight-medium;
  font-size: rem-calc(40);
  margin: 0;
 }

 h4 {
  font-weight: $font-weight-light;
  color: $medium-grey;
 }
}

div.attribute-container {
 @include grid-column(
   $columns: 11,
   $center: true
  );
 background-color: $white;
 padding: rem-calc(50) 0;
 border-top: 1px solid $lightest-grey;
 textarea {
  padding: rem-calc(5);
  font-weight: $font-weight-light;
  font-size: rem-calc(23);
 }
}

div.attribute-title-container {
 @include grid-column(
  $columns: 2
 );
 @extend .text-center;
 color: $light-grey;
 i {
  font-size: rem-calc(100);
  line-height: rem-calc(100);
 }
 h5 {
  font-family: $font-family-menus;
  font-size: rem-calc(18);
  line-height: rem-calc(30);
  text-transform: uppercase;
  color: $light-grey;
 }
} 

div.attributes {
 @include grid-column(
  $columns: 10
 );
}

/* @group Multi Chosen */

.chosen-container-multi{
 box-shadow: 0;
 font-weight: $font-weight-light;

  .chosen-choices {
   box-shadow: 0;
   background: none;
   background-size: 0% !important;
   border: 1px solid #cccccc !important;
   box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
   min-height: 125px;
   font-size: rem-calc(18);
   font-weight: $font-weight-light;

    li {
    background: none;
    background-size: none;
     &.search-field {
       input[type="text"] {
         // margin: 1px 0;
         // padding: 0;
         // height: 25px;
         // outline: 0;
         // border: 0 !important;
         // background: transparent !important;
         // box-shadow: none;
         // color: #999;
         // font-size: 100%;
         // font-family: sans-serif;
         // line-height: normal;
         // border-radius: 0;
       }
     }
     &.search-choice {
       background-image: none;
       background-size: 0;
       line-height: rem-calc(23) !important;
       color: $medium-grey !important;
       box-shadow: none !important;
       background-image: none !important;
       background-size: 0 !important;
       background-color: #fafafa !important;
       span {
         word-wrap: break-word;
       }
       .search-choice-close {
         // position: absolute;
         // top: 4px;
         // right: 3px;
         // display: block;
         // width: 12px;
         // height: 12px;
         color: $lightest-grey !important;
         background: none;
         // font-size: 1px;
         &:hover {
           // background-position: -42px -10px;
         }
       }
     }
     &.search-choice-disabled {
       // padding-right: 5px;
       // border: 1px solid #ccc;
       // background-color: #e4e4e4;
       background-image: none;
       // color: #666;
     }
     &.search-choice-focus {
       // background: #d4d4d4;
       .search-choice-close {
         // background-position: -42px -10px;
       }
     }
   }
  }
  .chosen-results {
    // margin: 0;
    // padding: 0;
  }
  .chosen-drop .result-selected {
    // display: list-item;
    // color: #ccc;
    // cursor: default;
  }
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  font-family: $font-family-sans-serif !important;
  font-weight: $font-weight-light !important;
  color: $light-grey;
}