$red: #e86655;
$yellow: #fdc243;
$green: #718f81;

$clear: rgba(0,0,0,0);
$grey-mask: rgba(74, 75, 75, 0.75);
$grey-mask-solid: rgba(74, 75, 75, 1);

$dark-grey: #343434;
$medium-grey: #494A4B;
$light-grey: #A09B9C;
$lightest-grey: #ECF0F0;
$lightest-grey-overlay: #AFB3B6;
$white: #fff;