$red: #e86655;
$yellow: #fdc243;
$green: #718f81;

$clear: rgba(0,0,0,0);
$grey-mask: rgba(74, 75, 75, 0.75);
$grey-mask-solid: rgba(74, 75, 75, 1);

$dark-grey: #494a4b;
$medium-grey: #7e7f7f;
$light-grey: #A09B9C;
$lightest-grey: #F2F2F2;
$white: #fff;