<nav class="tab-bar <%= 'clear' if current_page?(root_path) %>">
  <section class="left-small">
    <a class="left-off-canvas-toggle" href="#"><i class="ion-navicon-round"></i><span>Menu</span></a>
  </section>

  <section class="right-small">
    <a class="" href="#"><span>Search</span><i class="ion-search"></i></a>
  </section>
</nav>

<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">
    <li><a href=""><span>Merl</span><i class="ion-navicon-round"></i></a></li>
    <% if signed_in? %>
	    <li><%= link_to "Profile", current_user %><span>Profile</span><i class="ion-gear-a"></i></a></li>
	    <li><a href=""><span>Messages</span><i class="ion-email"></i></a></li>
	    <li><a href=""><span>Search</span><i class="ion-search"></i></a></li>
	    <li><a href=""><span>Tutorial</span><i class="ion-information"></i></a></li>
	    <li><a href=""><span>Logout</span><i class="ion-paper-airplane"></i></a></li>
    <% end %>
    <% unless signed_in? %>
    	<li><a href=""><span>Login</span><i class="ion-paper-airplane"></i></a></li>
    <% end %>
    <li><a href=""><span>Powered by</span><i class="ion-ionic"></i></a></li>
  </ul>
</aside>