<div class="container splash-content splash-laptop">
  <h1>Entrepreneurship is hard.<br/>Why do it alone?</h1>
  <h4>Use the free Maryland Entrepreneurs Resource List to get advice from tested executives and industry experts that have done it before.</h4>
  <%= link_to "View mentors", users_path, class: "button white-button" %>
 </div>
</div>